body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    background-color: #76c9f0;
    color: #fa0f0f;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8e8cf1;
    padding: 20px;
    font-size: 24px;
    color: rgb(230, 216, 216);
}

.noticia-destacada, .noticia-archivada {
    background-color: rgb(250, 188, 219);
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(26, 27, 26, 0.2);
}

.noticia-destacada img, .noticia-archivada img {
    margin-top: 10px;
    border-radius: 10px;
}

.boton {
    display: inline-block;
    background-color: #0a1c80;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.boton:hover {
    background-color: #e60073;
}

.gif-header {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 170px; /* Ajusta según el tamaño del título */
    height: auto; /* Mantiene la proporción */
}

.gif-header-2 {
    position:absolute;
    top: 10px;
    right: 120px;
    width: 170px; /* Ajusta según el tamaño del título */
    height: auto; /* Mantiene la proporción */
}

.gif-header-3 {
    position:absolute;
    top: 10px;
    right: 120px;
    width: 170px; /* Ajusta según el tamaño del título */
    height: auto; /* Mantiene la proporción */
}

.gif-header-4{
    position: absolute;
    top: 10px;
    right: 1050px;
    width: 150px;
    height: auto;
}

/* Contenedor del menú */
.menu-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Botón de menú (icono de tres rayas) */
.menu-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/* Menú desplegable */
.menu-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

/* Enlace dentro del menú */
.menu-content a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
}

.menu-content a:hover {
    background-color: #f0f0f0;
}